body {
    background-color: #80B5BA;
    color: #306B65;
}
header {
    background-color: #C2F7FB;
    width: 800px;
    height: 120px;
    margin: 0 auto 0 auto;
}

.table_container {
    margin: 17px;
    display: table;
    float: right;
}
.table_row {
    display: table-row;
}

div.table_row > label , div.table_row > input  div.table_row > span {
    display: table-cell;
    margin: 2px;

}
div.table_row > label {
    text-align: right;
}
div#error > label {
    color:  red;
}

