body{
    height: 1080px;
    background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
}
a.my_hov_0 {
    color: antiquewhite;
    outline: none;
    text-decoration: underline;
}
a.my_hov_0:hover {
    color: #1b5f49;
    outline: none;
    text-decoration: none;
}
a.my_hov_0:visited {
    color: darkcyan;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}
