<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Добавление абонента</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="../static/admin.css" th:href="@{/static/admin.css}"/>
    </head>
    <body>
        <div class="all_content">
            <header>
                <h1>Добавление абонента</h1>
            </header>

            <nav>
                <div class="logout"><form th:action="@{/logout}" method="post" id="sing_out_button">
                    <input type="submit"  class="logout_button"value="Выйти"/>
                </form>
                </div>
                <ul>
                    <li class="selected"><a href="/subscriber/add">Создать абонента</a></li>
                    <li><a href="/addPayments">Внести средства</a></li>
                    <li><a href="/subscriber/list">Список абонентов</a></li>
                    <li><a href="/paymentList">Список платежей</a></li>
                </ul>
            </nav>
            <div class="content">


                <div class="table_container">
                    <form action="#" th:action="@{/subscriber/add}" method="post">
                        <div class="table_row"><label for="lastName">Фамилия</label>
                            <input type="text" name="lastName" id="lastName" max="30" required/></div>
                        <div class="table_row"><label for="firstName">Имя</label>
                            <input type="text" name="firstName" id="firstName" max="30" required/></div>
                        <div class="table_row"><label for="patronymic">Отчество</label>
                            <input type="text" name="patronymic" id="patronymic" max="30" required /></div>
                        <div class="table_row"><label for="address">Адрес</label>
                            <input type="text" name="address" id="address" max="150" required /></div>
                        <div class="table_row"><label for="nd">Номер договора</label>
                            <input type="text" name="nd" id="nd" min="4" max="6" required/>
                            <p th:text="${isExist}">message</p></div>
                        <div class="table_row"><label for="password">Пароль</label>
                            <input type="password" name="password" id="password" max="15" required/></div>
                        <div class="table_row"><label></label>
                            <input class="add_button" type="submit" value="Добавить абонента"/>
                            <p th:text="${done}">done</p></div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>