<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administrator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="styles/style.css" th:href="@{/styles/admin_style.css}"/>
</head>
<header>
    <div class="container">
        <a href="/" class="logo">LOGO</a>
        <nav>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </nav>
    </div>
</header>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-1-4">
                <br>
                <br>
                create subscriber
                <br>
                <br>
                create payment
                <br>
                <br>
                read subscriber
                <br>
                <br>
                read payment
                <br>
                <br>
                update subscriber
                <br>
                <br>
                update payment
                <br>
                <br>
                delete subscriber
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
            <div class="col-3-4"></div>
        </div>
    </div>
