
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/static/style.css}"/>
</head>
<body>
<h1>Список платежей</h1>
<br>
<hr>
<table border="1">
    <tr>
        <th>Номер договора</th>
        <th>Сумма</th>
        <th>Дата</th>
    </tr>
    <tr th:each="pay :${payments}">
        <td th:text="${pay.nd}">1</td>
        <td th:text="${pay.value}">2</td>
        <td th:text="${pay.paymentDate}">3</td>
        </tr>
</table>

<div>
    <a href="/admin" class="my_hov_0"> Вернуться </a>
</div>
</body>
</html>