
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/static/style.css}"/>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<h1>Добро пожаловать @{user.username}</h1>
<br>
<hr>
<b>form:</b>
<br>
<a href="/personalAcc" class="my_hov_0">Личный кабинет</a>
<a href="/admin" class="my_hov_0">Панель администратора</a>

</body>
</html>