<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User Editor</title>
    <link rel="stylesheet" href="styles/style.css" th:href="@{/styles/style.css}"/>

</head>
<body>
<form action="#" th:action="@{/user}" method="post">
    <input type="hidden" th:value="${user.id}" name="userId">
    <input type="text" name="username" th:value="${user.username}">
    <input type="text" name="password" th:value="${user.password}">
    <div><label th:each="role :${roles}">
        <input type="checkbox" th:name="${role}" th:checked="${user.roles.contains(role)}" th:text="${role}">
    </label>
    </div>
    <button type="submit">Save</button>
</form>
</body>